<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <h5>Roles<span class="text-danger">*</span></h5>
            <div class="controls">
                <fieldset>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" name="styled_max_checkbox" data-validation-maxchecked-maxchecked="2"
                            data-validation-maxchecked-message="Don't be greedy!" required class="custom-control-input">
                        <span class="custom-control-indicator"></span> <span
                            class="custom-control-description">Administrador</span> </label>
                </fieldset>
                <fieldset>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" name="styled_max_checkbox" class="custom-control-input"> <span
                            class="custom-control-indicator"></span> <span
                            class="custom-control-description">Analista</span> </label>
                </fieldset>
                <fieldset>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" name="styled_max_checkbox" class="custom-control-input"> <span
                            class="custom-control-indicator"></span> <span
                            class="custom-control-description">Técnico</span> </label>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <div class="controls">
                <fieldset>
                    <div data-icon="&#xe00b;" class="linea-icon linea-aerrow"></div>
                    <div data-icon="&#xe073;" class="linea-icon linea-aerrow"></div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <h5>Asignados<span class="text-danger">*</span></h5>
            <div class="controls">
                <fieldset>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" value="1" data-validation-minchecked-minchecked="2"
                            data-validation-minchecked-message="Choose at least two" name="styled_min_checkbox" required
                            class="custom-control-input"> <span class="custom-control-indicator"></span> <span
                            class="custom-control-description">Supervisor</span> </label>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
        </div>
    </div>
</div>